* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  line-height: 160%;

}



.navbar{
    width: 100%;
    height: 88px;
    background-color: rgba(149, 149, 149, 0.06);
    display: flex;
    
}

.logo {
  width: 70px;
  height: 32px;
  margin-top: 28px;
  margin-left: 160px;
}
.navMenu {
    list-style: none;
    display: flex;
    gap: 32px;  
    width: 613px;
    height: 18px;
    margin-top: 35px;
    margin-left: 413.5px;
                    
}

.navMenu a {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: rgba(56, 60, 62, 1);
    text-decoration: none;
    vertical-align: middle;
}

.navMenu a.active {
    position: relative;
}

.navMenu a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;   
    width: 77px;       
    height: 2px;       
    background-color: rgba(0, 143, 23, 1); 
}
header{
    font-family: "Inter";

}

header h1{
    width: 547px;
    height: 70px;
    margin-top: 80px;
    margin-left: 161px;
    font-weight: 700;
    font-size: 44px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: rgba(56, 60, 62, 1);
}

header p{
    width: 547px;
    height: 52px;
    margin-top: 24px;
    margin-left: 161px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.3px;
    color: rgba(115, 123, 125, 1);

}


.contactForm{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 548px;
    height: 762px;
    margin-top:80px ;
    margin-left: 160px;
    gap: 8px;
    margin-bottom: 300px;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 12px;
    width: 548px;
    
}

.contactForm input {
  border: none;
  border-bottom: 1px solid #737B7D;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  padding: 15px ;

}



.twoCols {
  display: flex;
  gap: 12px;
  padding-top: 12px;
  
}

.twoCols1{
    width:357px;
}
.twoCols2{
    width: 167px;
}

.error-text {
  color: #D40D0D;
  width: 357px;
  height: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  padding-left: 12px;
}


.file-upload{
    width: 548px;
    height:132px;
    display: flex;
    border: 1px dashed #8E8E8E;
    margin-top: 30px;
    padding: 40px 16px;
    gap: 12px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.file-upload img{
    width: 24px;
    height: 24px;
}
.file-upload p {
    width: 152px;
    height: 22px;
    font-weight: 400;
    size: 14px;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #8E8E8E;
}

.upload-note{
    width: 333px;
    height: 16px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #8E8E8E;
}

.btn-submit {
    width: 547px;
    height: 54px;
    padding: 16px;
    margin-top: 40px;
    background: #008F17;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    vertical-align: middle;

}

.nda-box {
    width: 365px;
    min-height: 48px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px 12px 4px;
    border-radius: 4px;
}

.nda-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nda-box label {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #383C3E;
    vertical-align: middle;
    cursor: pointer; 
}

.twoSidses{
    display: flex;
}

.locations{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 357px;
    height: 262px;
    margin-top: 80px;
    margin-left: 430px;

}
.locations h2{
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #383C3E;
    margin-bottom: 32px;

}

.location p{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #383C3E;
}

.quires{
    display: flex;
    flex-direction: column;
    margin-left: 430px;
    margin-top: 80px;
    width: 357px;
    height: 134px;
    gap: 32px;
}

.quires h2{
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #383C3E;

}
.phones{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 24px;
}
.phone{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
}

.phone img{
    width: 23px;
    height: 16px;
}

.phone p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #383C3E;
}

.subsicribe{
    margin-top: 80px;
    margin-left: 430px;
}
.subsicribe h2{
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #383C3E;
}


.newsletter-row {
    display: flex;
    align-items: center;
    gap: 14px; 
    padding-top: 20px;                 
}


.newsletter-input {
    width: 262px;
    border: none;
    border-bottom: 1px solid #737B7D;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
}

.newsletter-btn {
    width: 58px;
    height: 40px;
    background-color: #008F17;   
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}